<div class="fullContent">

    <div class="searchContainer">

        <img src="../assets/wikiLogo.png" alt="wiki">

        <form (submit)="onFormSubmit($event)">

            <div>
                <div>
                    
                    <select class="xxx" (change)="languageChange($event.target.value)">
                        <option value="sk">SK</option>
                        <option value="en">EN</option>
                        <option value="cs">CZ</option>
                    </select>
                    
                </div>
          
                <div >
                    
                    <select (change)="numberOfResultChange($event.target.value)" class="xxx">
                        <option value="5">{{ selectLanguage.result }} 5</option>
                        <option value="10">{{ selectLanguage.result }} 10</option>
                        <option value="15">{{ selectLanguage.result }} 15</option>
                        <option value="20">{{ selectLanguage.result }} 20</option>
                    </select>
                    
                </div>
          
                <div>
                    <input class="xxx" type="text" placeholder="{{selectLanguage.placeHolder}}" (input)="searchText=$event.target.value">
                </div>
          
                <div>
                    <button type="submit" class="xxx btn">
                    {{ selectLanguage.search }}
                    </button>
                </div>
            </div>
          
        </form>

        <img [ngClass]="{hide: hideImg}" src="../assets/woman.svg" alt="wiki_woman">
        
        
        <h3 *ngIf="emptySearchInput" class="emptyInput">{{ selectLanguage.emptyInput }}</h3>
        
        <div class="result">
            
            <app-result-list 
                *ngIf="pages"
              [pages]="pages"
              [language]="language"
              [title]="selectLanguage.title"
              [wordCount]="selectLanguage.wordCount"
              [snippet]="selectLanguage.snipped"
              [emptyResult]="selectLanguage.emptyResult"
            >
            </app-result-list>
        </div>
        
    </div>
    
</div>


